    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/communicator_logo2.png" alt="" width="250">
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <hr class="star-light">
                        <span class="skills">A location based decentralized social network</span><br/>
                        <code>Android App is currently under development</code>
                    </div>
                </div>
            </div>
        </div>
    </header>
