<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.communityorganizer"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="17" android:targetSdkVersion="21" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">
        <!-- ORM ActiveAndroid meta data -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="Organizer.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="3" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.project.communityorganizer.sqlite.models.User,
            com.project.communityorganizer.sqlite.models.Friend,
            com.project.communityorganizer.sqlite.models.Geofence,
            com.project.communityorganizer.sqlite.models.Event,
            com.project.communityorganizer.sqlite.models.EventAttendance,
            com.project.communityorganizer.sqlite.models.Location,
            com.project.communityorganizer.sqlite.models.PhoneData" />
        <!-- Main screen -->
        <activity
            android:name="com.project.communityorganizer.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Sign up activity -->
        <activity
            android:name="com.project.communityorganizer.SignUpActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.SignUpActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Signin activity -->
        <activity
            android:name="com.project.communityorganizer.SignInActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.SignInActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Friend list -->
        <activity
            android:name="com.project.communityorganizer.Listview"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.Menu" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
